<html >
<head>
    <% include ../partials/head %>
    <link rel='stylesheet' href='http://fullcalendar.io/js/fullcalendar-2.2.3/fullcalendar.css' />
    <script src='http://fullcalendar.io/js/fullcalendar-2.2.3/lib/moment.min.js'></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.2.3/fullcalendar.min.js'></script>
    <script>
        var data =<%-JSON.stringify(data)%>;
        if(data.length == 0)
            alert("The participant did not log any data for today yet");
        
        

        function init(){
            $(document).ready(function() {
            $('#calendar').fullCalendar({

                dayClick: function(date, jsEvent, view, resourceObj) {
                    alert('Date: ' + date.format());
                    document.getElementById("token").value=sessionStorage.getItem('Token');
                    document.getElementById("userid").value=sessionStorage.getItem('UserId');
                    document.getElementById("date").value=date.format();
                }
            });
        });
            
        }
    </script>
</head>
<body onLoad="init()">
<header>
    <% include ../partials/header %>
</header>

<main>
    <div  class="container">
        <div class="row" style="float: left">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id='calendar' style="width: 500px"></div>
                        <form action="/getDailyLog" method="post" accept-charset="UTF-8" role="form" >
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" name="token" id="token" type="hidden" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="userid" id="userid" type="hidden" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="date" id="date" type="hidden" value="">
                                </div>
                                <input class="btn btn-lg btn-block" id="submit" type="submit" value='Get Daily Summary' >
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <% if(data.length>0) { %>
            <div class="col-md-6">
                
                <table border="1">
                    <thead>
                        <th style="padding: 1%">Date/Time</th>
                        <th style="padding: 1%">FoodOrDrinkConsumed</th>
                        <th style="padding: 1%">Binge</th>
                        <th style="padding: 1%">VomitingOrLaxative</th>
                    </thead>
                     <tbody>
                    <% for(var i=0; i < data.length; i++) { %>
                
                    <tr>
                       <td style="padding: 1%">
                         <label><%= data[i].Time %></label><br>
                       </td>
                       <td style="padding: 1%">
                         <label><%= data[i].FoodOrDrinkConsumed %></label><br>
                       </td>
                       <td style="padding: 1%">
                         <label><%= data[i].Binge %></label><br>
                       </td>
                       <td style="padding: 1%">
                         <label><%= data[i].VomitingOrLaxative %></label><br>
                       </td>
                    </tr>
                    <% } %>
                    </tbody>
                   </table>
                            
                        
                    
            </div>
            <% } %>
        </div>
        </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
