<html >
<head>
    <% include ../partials/head %>
    <script>
        var data =<%-JSON.stringify(data)%>;
        $(document).ready(function(){
            sessionStorage.setItem('UserName',document.getElementById("submit").value);
            console.log(sessionStorage.getItem('UserName'));
        });
        function storeData(userId){
            
            sessionStorage.setItem('UserId',userId);
            sessionStorage.setItem('Token',data.token);
        }
        
    </script>
</head>
<body>
<header>
    <% include ../partials/header %>
    <div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-static-top" role="navigation">
        <div class="container full-width">
        <div class="collapse navbar-collapse" >
          <ul class="nav navbar-nav navbar-right">
            <li><a class="btn btn-block" href="/">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </div>
    </div>
    </div>

</header>
<main role="main">
    <div  class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">List of Participants</h3>
                    </div>
                    <div class="panel-body">
                        <table>
                            <% for(var i=0; i < data.participants.length; i++) { %>
                               <tr>
                                     <form action="/getProgress" method="post" accept-charset="UTF-8" role="form">
                                        <fieldset>
                                            <div class="form-group">
                                                <input class="form-control" name="token" type="hidden" value='<%= data.token %>'>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" name="userid" type="hidden" value='<%= data.participants[i].UserId %>'>
                                            </div>
                                            <input class="btn btn-lg btn-block" id="submit" type="submit" value='<%= data.participants[i].Username %>' 
                                            onclick="storeData('<%= data.participants[i].UserId %>')">
                                        </fieldset>
                                    </form>
                                
                               </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
